---
//import useVisibility from 'src/hooks/useVisibility';
import {
  Field,
  ImageField,
  LinkField,
  Image,
  Text,
  Link,
  ComponentRendering,
} from '@sitecore-jss/sitecore-jss-react';
import Placeholder from '../system/Placeholder.astro';
import { SitecoreContextMap } from "@astro-sitecore-jss/astro-sitecore-jss";

const sitecoreContext = SitecoreContextMap.get()['scContext'];
const isPageEditing = sitecoreContext.pageEditing;
const isVisible = true;

export type ColumnProps = ComponentRendering & {
    image: ImageField;
    title: Field<string>;
    text: Field<string>;
    link: LinkField;
    placeholder: string;
    delay?: number;
  };

  const props: ColumnProps = Astro.props;
  const { layoutData } = Astro.props;

  const buttonStyle = props.params?.ButtonStyle
---

<div
  class={`col-sm-12 col-lg-6 ${
    !isPageEditing ? `fade-section ${isVisible ? "is-visible" : ""}` : ""
  }`}
>
  <div class="content-wrapper">
    <Image field={props.image} height={" "} />
    {
      (isPageEditing || props.title?.value) && (
        <h2>
          <Text field={props.title} />
        </h2>
      )
    }
    {
      (isPageEditing || props.text?.value) && (
        <p>
          <Text field={props.text} />
        </p>
      )
    }
    {
      (isPageEditing || props.link?.value?.href) && (
        <Link field={props.link} class={`button ${buttonStyle}`} />
      )
    }
    <Placeholder name={props.placeholder} rendering={props.rendering} />
  </div>
</div>
